.App {
  margin-top  : 5%;
  text-align: center;
  align-self: center;
}

.container{
  justify-content: space-around;
  position : absolute;
  top : 130px;
  display : flex;
  flex-direction: row;
  font-size : 18px;
  padding-top : 2%;
  width : 1000px;
}

.list-view{
  background : #ffaa7b;
  border-radius : 0.5em;
  font-size : 20px;
  align-self: center;
}

.search{
  position: absolute;
  left : 25px;
  width : 950px;
  height : inherit;
  padding : 20px;
  color : red;
  border-radius : 0.5em;
}

#search-bar{
  height : 3em;
  border-radius : 0.5em;
  width : inherit;
  font-size : 20px;
}


.list-block{
  background: #7adbff;
  padding-top : 3%;
  padding-left : 10%;
  border-radius : 0.5em;
  font-size : 20px;
  color : black;
  width : 390px;
  height : 525px;
  align-self: center;
  overflow-y : scroll;
}

.city-item{
  height : 2em;
  text-align: left;

}

.city-item:hover{
  font-weight : 700;
  color : black;  
}