.App {
  margin-top  : 5%;
  text-align: center;
}

.container{
  justify-content: space-around;
  position : absolute;
  left : 50px;
  top : 10%;
  display : flex;
  flex-direction: row;
  font-size : 18px;
  padding : 2%;
  width : 100%;
}

.list-view{
  background : #ffaa7b;
  border-radius : 0.5em;
  font-size : 20px;
  align-self: center;
}

.search{
  position: absolute;
  left : 30px;
  width : 55em;
  height : inherit;
  padding : 20px;
  color : red;
  border-radius : 0.5em;
}

#search-bar{
  height : 3em;
  border-radius : 0.5em;
  width : inherit;
  font-size : 20px;
}

.activities{
  border : 5px;
  width : 26em;
  border : 2px solid #ff007b;
  box-shadow : 10px 10px #ff007b 20%;
  border-radius : 0.5em;
}

.item{
  background: #ff007b;
  margin : 10px;
  padding-top : 3%;
  padding-left : 10%;
  border-radius : 0.5em;
  font-size : 20px;
  color : white;
  width : 19.5em;
  align-self: center;
}

.city-item{
  height : 2em;
  text-align: left;

}

.city-item:hover{
  font-weight : 700;
  color : black;  
}